@model CartografiasMusicais.Business.Context.Pagina

@{
    ViewData["Title"] = "Apresentacao";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<!-- cabeçalho -->
<div id="header" class="home">
    <div class="container">
        <div class="header-content">
            <center><h3>Apresentação</h3></center>
        </div>
    </div>
</div>

<!-- Corpo do site -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-2 lc "></div>

        @Html.Raw(Model.Descricao)

        <div class="col-md-2 ld">

            <div id="menu-quem">
                <ul>
                    <li><a href="/apresenta/">Apresentação</a></li>
                    <li><a href="/equipe/">Equipe</a></li>
                    <li><a href="/contato/">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>