
@{
    ViewData["Title"] = "Equipe";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<!-- cabeçalho -->
<div id="header" class="home">
    <div class="container">
        <div class="header-content">
            <center><h3>Equipe de Pesquisa </h3></center>
        </div>
    </div>
</div>





<!-- Corpo do site -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-2 lc "></div>

        <div class="col-md-8 equipe">

            <h3><strong>Coordenação:</strong></h3>
            <p>
                Cíntia Sanmartin Fernandes (UERJ)<br>
                Micael Herschmann (UFRJ)
            </p>
            <br>
            <h3><strong>Pesquisadores:</strong></h3>
            <p>
                Carla Helal (UERJ)<br>
                Cristiane Carvalho (UERJ)<br>
                Fabiano Lacombe (UFRJ)<br>
                Flavia Magalhães (UERJ)<br>
                Joaquim Lima (UFRJ)<br>
                Maria Luiza Lyra (UFRJ)<br>
                Michelle Ezaquiel (UERJ)<br>
                Rodrigo Morelato (UERJ)<br>
                Tatiane Mendes (UERJ)<br>
                Taíza Moraes (UERJ)<br>
                Victor Belart (UERJ)<br>
                Wagner Carvalho (UERJ)
            <p>
        </div>

        <div class="col-md-2 ld">

            <div id="menu-quem">
                <ul>
                    <li><a href="/apresenta/">Apresentação</a></li>
                    <li><a href="/equipe/">Equipe</a></li>
                    <li><a href="/contato/">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

