
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_VideoLayout.cshtml";
}
<div class="videocena">
    <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@ViewBag.Link"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="">
    </iframe>
</div>

