
<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cartografias Musicais do RJ</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-custom.css" rel="stylesheet">
    <link href="~/css/estrutura.css" rel="stylesheet">

</head>





<body id="corpo-espacos">

    <!-- Topo 1 internas -->
    <div class="container-fluid topo-1"></div>

    <!-- Topo 2 internas -->
    <div class="container-fluid topo-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 area-titulo">
                    <a href="/"><h4>Cartografias Musicais do RJ</h4></a>
                </div>

                <div class="col-md-6 area-titulo">
                    <div class="nav-topo">
                        <ul>
                            <li><a href="/espacos/">Espaços</a></li>
                            <li><a href="/musicas/">Músicas</a></li>
                            <li><a href="/grupos/">Grupos</a></li>
                            <li><a href="/corpos/">Corpos</a></li>
                            <li><a href="/narrativas/">Narrativas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @RenderBody()



    <!-- Footer 1 -->
    <div class="container-fluid footer-1">
        <div class="row ">
            <div class="col-md-3 col-sm-12 menu-footer">
                <center>
                    <div id="menu-footer">
                        <ul>
                            <li><a href="/apresenta/">Apresentação</a></li>
                            <li><a href="/equipe/">Equipe</a></li>
                            <li><a href="/contato/">Contato</a></li>
                        </ul>
                    </div>
                </center>
            </div>
            <div class="col-md-6 "><p>Cartografias Sensíveis das Cidades do Estado do Rio de Janeiro</p></div>
        </div>
    </div>

    <!-- Footer 2 -->

    <div class="container-fluid" id="footer-2">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9" id="parceiros">
                <span class="logopar">
                    <script data-pagespeed-no-defer>
//<![CDATA[
(function(){for(var g="function"==typeof Object.defineProperties?Object.defineProperty:function(b,c,a){if(a.get||a.set)throw new TypeError("ES3 does not support getters and setters.");b!=Array.prototype&&b!=Object.prototype&&(b[c]=a.value)},h="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this,k=["String","prototype","repeat"],l=0;l<k.length-1;l++){var m=k[l];m in h||(h[m]={});h=h[m]}var n=k[k.length-1],p=h[n],q=p?p:function(b){var c;if(null==this)throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");c=this+"";if(0>b||1342177279<b)throw new RangeError("Invalid count value");b|=0;for(var a="";b;)if(b&1&&(a+=c),b>>>=1)c+=c;return a};q!=p&&null!=q&&g(h,n,{configurable:!0,writable:!0,value:q});var t=this;function u(b,c){var a=b.split("."),d=t;a[0]in d||!d.execScript||d.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===c?d[e]?d=d[e]:d=d[e]={}:d[e]=c};function v(b){var c=b.length;if(0<c){for(var a=Array(c),d=0;d<c;d++)a[d]=b[d];return a}return[]};function w(b){var c=window;if(c.addEventListener)c.addEventListener("load",b,!1);else if(c.attachEvent)c.attachEvent("onload",b);else{var a=c.onload;c.onload=function(){b.call(this);a&&a.call(this)}}};var x;function y(b,c,a,d,e){this.h=b;this.j=c;this.l=a;this.f=e;this.g={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.i=d;this.b={};this.a=[];this.c={}}function z(b,c){var a,d,e=c.getAttribute("data-pagespeed-url-hash");if(a=e&&!(e in b.c))if(0>=c.offsetWidth&&0>=c.offsetHeight)a=!1;else{d=c.getBoundingClientRect();var f=document.body;a=d.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);d=d.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+d;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.g.height&&d<=b.g.width)}a&&(b.a.push(e),b.c[e]=!0)}y.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&z(this,b)};u("pagespeed.CriticalImages.checkImageForCriticality",function(b){x.checkImageForCriticality(b)});u("pagespeed.CriticalImages.checkCriticalImages",function(){A(x)});function A(b){b.b={};for(var c=["IMG","INPUT"],a=[],d=0;d<c.length;++d)a=a.concat(v(document.getElementsByTagName(c[d])));if(a.length&&a[0].getBoundingClientRect){for(d=0;c=a[d];++d)z(b,c);a="oh="+b.l;b.f&&(a+="&n="+b.f);if(c=!!b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),d=1;d<b.a.length;++d){var e=","+encodeURIComponent(b.a[d]);131072>=a.length+e.length&&(a+=e)}b.i&&(e="&rd="+encodeURIComponent(JSON.stringify(B())),131072>=a.length+e.length&&(a+=e),c=!0);C=a;if(c){d=b.h;b=b.j;var f;if(window.XMLHttpRequest)f=new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(r){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(D){}}f&&(f.open("POST",d+(-1==d.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}}function B(){var b={},c;c=document.getElementsByTagName("IMG");if(!c.length)return{};var a=c[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var d=0;a=c[d];++d){var e=a.getAttribute("data-pagespeed-url-hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[e].o&&a.height>=b[e].m)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b}var C="";u("pagespeed.CriticalImages.getBeaconData",function(){return C});u("pagespeed.CriticalImages.Run",function(b,c,a,d,e,f){var r=new y(b,c,a,e,f);x=r;d&&w(function(){window.setTimeout(function(){A(r)},0)})});})();pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','https://cartografiasmusicaisrj.com.br/apresenta/','nXzXivl0t7',true,false,'U0zKz1VJm_k');
//]]></script><img src="~/imagens/home/logo-1.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="1648021307" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                </span>
                <span class="logopar"><img src="~/imagens/home/logo-2.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="1942521228" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-3.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="2237021149" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-4.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="2531521070" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-5.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="2826020991" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-6.jpg" height="30" alt="Logo Faperj" data-pagespeed-url-hash="3120520912" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
            </div>
        </div>
    </div>




</body>

</html>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>
<!--	<script src="~/js/jquery.prettyPhoto.js"></script> -->
<!--  <script src="~/js/jquery.isotope.min.js"></script>-->
<script src="~/js/wow.min.js"></script>
<!--	<script src="~/js/jquery.easing.min.js"></script>-->
<!--	<script src="~/js/main.js"></script> -->
<script src="~/js/slick.min.js"></script>


<script type="text/javascript">$(document).on('ready',function(){$('.regular').slick({dots:true,infinite:false,speed:300,slidesToShow:7,slidesToScroll:7,responsive:[{breakpoint:1024,settings:{slidesToShow:5,slidesToScroll:5,infinite:true,dots:true}},{breakpoint:600,settings:{slidesToShow:4,slidesToScroll:4}},{breakpoint:480,settings:{slidesToShow:2,slidesToScroll:2}}]});});</script>
