<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - Administração</title>
    <link rel="icon" type="image/ico" href="~/admin/images/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/admin/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="~/admin/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/admin/js/animsition/css/animsition.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true">
    <script src="~/admin/js/modernizr/modernizr-2.8.3-respond-1.4.2.min.js" asp-append-version="true"></script>
</head>

<body id="minovate" class="appWrapper">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap" class="animsition">
        <div class="page page-core page-login">
            @RenderBody()
        </div>
    </div>
    <script src="~/admin/js/jquery/jquery-1.11.2.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/jRespond/jRespond.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/sparkline/jquery.sparkline.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/slimscroll/jquery.slimscroll.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/animsition/js/jquery.animsition.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/screenfull/screenfull.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/main.js" asp-append-version="true"></script>
</body>
</html>
