
<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cartografias Musicais do RJ</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/style-custom.css" rel="stylesheet">
    <link href="~/css/estrutura.css" rel="stylesheet">

</head>





<body id="estrutura">

    <!-- Topo 1 internas -->
    <div class="container-fluid topo-1"></div>

    <!-- Topo 2 internas -->
    <div class="container-fluid topo2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 area-titulo">
                    <a href="/"><h4>Cartografias Musicais do RJ</h4></a>
                </div>

                <div class="col-md-6 area-titulo">
                    <div class="nav-topo">
                        <ul>
                            <li><a href="/espacos/">Espaços</a></li>
                            <li><a href="/musicas/">Músicas</a></li>
                            <li><a href="/grupos/">Grupos</a></li>
                            <li><a href="/corpos/">Corpos</a></li>
                            <li><a href="/narrativas/">Narrativas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Corpo do site -->
    <div class="container-fluid" id="corpo-estrutura">
        @RenderBody()
    </div>



    <!-- Footer 1 -->
    <div class="container-fluid footer-1">
        <div class="row ">
            <div class="col-md-3 col-sm-12 menu-footer">
                <center>
                    <div id="menu-footer">
                        <ul>
                            <li><a href="/apresenta/">Apresentação</a></li>
                            <li><a href="/equipe/">Equipe</a></li>
                            <li><a href="/contato/">Contato</a></li>
                        </ul>
                    </div>
                </center>
            </div>
            <div class="col-md-6 "><p>Cartografias Sensíveis das Cidades do Estado do Rio de Janeiro</p></div>
        </div>
    </div>

    <!-- Footer 2 -->

    <div class="container-fluid" id="footer-2">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9" id="parceiros">
                <span class="logopar"><img src="~/imagens/home/logo-1.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-2.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-3.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-4.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-5.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-7.jpg" height="30" /></span>
                <span class="logopar"><img src="~/imagens/home/logo-6.jpg" height="30" /></span>
            </div>
        </div>
    </div>




</body>

</html>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/js/bootstrap.min.js"></script>
<!--	<script src="~/js/jquery.prettyPhoto.js"></script> -->
<!--  <script src="~/js/jquery.isotope.min.js"></script>-->
<script src="~/js/wow.min.js"></script>
<!--	<script src="~/js/jquery.easing.min.js"></script>-->
<!--	<script src="~/js/main.js"></script> -->
<script src="~/js/slick.min.js"></script>


<script type="text/javascript">$(document).on('ready', function () { $('.regular').slick({ dots: true, infinite: false, speed: 300, slidesToShow: 7, slidesToScroll: 7, responsive: [{ breakpoint: 1024, settings: { slidesToShow: 5, slidesToScroll: 5, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 4, slidesToScroll: 4 } }, { breakpoint: 480, settings: { slidesToShow: 2, slidesToScroll: 2 } }] }); });</script>
@RenderSection("PageScripts", required: false)