@inject CartografiasMusicais.Business.Services.ICidadeService CidadeService
@{ 
    var cidades = await CidadeService.List();
}
<div class="col-md-2 col-sm-12" id="box-direito">
    <div class="row area-espa  ">
        <div class="icons-cidade">
            @foreach(var c in cidades)
            {
            <span class="mini-local">
                <a href="/cidades/@c.Slug">
                    <div class="cidade-ico">
                        <img src="@String.Format("https://{0}/imagens/content/{1}", Context.Request.Host, c.Imagem)" style="width:160px;" data-pagespeed-url-hash="1989443410" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                    </div>
                </a>
                <p>@c.Nome</p>
            </span>

            }
        </div>
    </div>
</div>